In [1]:
def my_function(fname):
   print(fname+"ajay")
my_function("harish")
my_function("gokul")

harishajay
gokulajay

In [9]:
mytuple = ("harish", "ajay", "gokul")
thistuple = ("harish", "ajay", "gokul")
print(thistuple)
print(thistuple[-1])    
print(thistuple[1])

('harish', 'ajay', 'gokul')
gokul
ajay

In [1]:
set1={"harish","jack"}
set2={1,5,7,9,3}
set3={True,False,False}
print(set1)
print(set2)
print(set3)

{'harish', 'jack'}
{1, 3, 5, 7, 9}
{False, True}

In [2]:
thisdict = {
    "brand": "kfc",
    "model": "dell",
    "year": 2025  
}

print(thisdict)
print(len(thisdict))

{'brand': 'kfc', 'model': 'dell', 'year': 2025}
3

In [4]:
set1 = {"arav", "jack", "convey"}
set2 = {1, 2, 3}
set3 = {"a", "b", "c"} 
set4 = {"charles", "tom", "sam"}  

myset = set1.union(set2, set3, set4)  
print(myset)

{1, 2, 3, 'b', 'arav', 'a', 'tom', 'jack', 'convey', 'sam', 'charles', 'c'}

In [6]:
a=199
b=43
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [7]:
a=66
b=66
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

In [8]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
p1=Person("jack",23)
print(p1.name)
print(p1.age)

jack
23

In [9]:
for x in range(23):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [14]:
for x in range(1,30,60):
    print(x)

1

In [17]:
men = ("white", "black", "brown")

for x in men:
    print(x)
    if x == "black":
        break

white
black

In [18]:
thisset={"abi","janani","priya",True,1,2}
print(thisset)
thisset=("abi","janani","priya")
print(thisset)

{True, 2, 'priya', 'abi', 'janani'}
('abi', 'janani', 'priya')

In [19]:
a="Hello, World!"
print(a.strip())
print(a.replace("H","J"))
print(a.split(","))

Hello, World!
Jello, World!
['Hello', ' World!']

In [20]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [21]:
myset={"apple","banana","cherry"}
thisset={"apple","banana","cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [22]:
thislist=list(("apple","banana","cherry","orange","kiwi","melon","mango"))
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[-4:-1])

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon']

In [23]:
mylist=["apple","banana","cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [24]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [25]:
list1=["abi","puna","moni"]
list2=[1,5,7,9,3]
list3=[True,False,False]
print(list1)
print(list2)
print(list3)

['abi', 'puna', 'moni']
[1, 5, 7, 9, 3]
[True, False, False]

In [26]:
print(bool("Hello"))
print(bool(15))

True
True

In [27]:
txt="The best things in life are free!"
if"free"in txt:
  print("Yes,'free'is present")

Yes,'free'is present

In [28]:
x=3+5j
y=5j
z=-5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>